.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header__nav {
  padding: 12px 28px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 999px;

  background-color: rgba(30, 41, 59, 0.75);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  overflow: hidden;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 28px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header__list a {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: #cbd5e1;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.header__list a:hover {
  color: #1d4ed8;
  transform: translateY(-3px) scale(1.15);
}

.header__list a.header__link--active {
  color: #1d4ed8;
  transform: scale(1.15);
}